@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
  --Light_Cyan: hsl(193, 38%, 86%);
  --Neon_Green: hsl(150, 100%, 66%);
  
 /* ### Neutral*/
  
  --Grayish_Blue: hsl(217, 19%, 38%);
  --Dark_Grayish_Blue: hsl(217, 19%, 24%);
  --Dark_Blue: hsl(218, 23%, 16%);
  
}
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body{
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background-color: var(--Dark_Blue);
  font-family: Manrope;
  overflow-x: hidden;

}

.container{
min-width: 500px;
width: 800px;

}

#inner-container{
  margin: auto auto 0 auto;
  background-color:var(--Dark_Grayish_Blue);
  border-radius: 1rem ;
  width: 65%;
  font-weight: 800;
  word-wrap:wrap;

}
#ad_id{
color: var(--Neon_Green);
font-size: small;
padding-top: 1.5rem;
margin: auto auto 1rem auto;
letter-spacing: 0.25rem;
}

#ad_content{
  color:var(--Light_Cyan);
  font-size: 28px;
 
  
}
#ad-container{
  width: 85%;
  margin: auto;
}
button{
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--Neon_Green);
  border: none;
  top: 1.25rem;
  transition: transform 2s ease-in-out ;

}
button:hover {
  filter: drop-shadow(0 0 0.75rem var(--Neon_Green));

}
 
button:hover #icon{
  animation-name: rot;
  animation-duration: 3s;

}

@keyframes rot{
  0%{
    transform: rotate(0deg);
  }

  
  100%{
    transform: rotate(1turn);/*or 360deg*/

  }
 /* 0%{
    transform: rotate(0deg);
  }

  25%{
    transform: rotate(90deg);

  }
  50%{
    transform: rotate(180deg);
  }

  75%{
    transform: rotate(270deg);

  }

  100%{
transform: rotate(360deg);
  }*/
}

#line-desk{
display: block;
margin: 0.25rem auto 0 auto ;
}
#line-mob{
display: none;
margin: 0.25rem auto 0 auto;
}
.fa{
  margin: auto;
  font-size: 18px;
}
.attribution{
  color: var(--Light_Cyan);
  margin: 1.15rem auto 0 auto;
}
a{
  color: var(--Neon_Green);
  text-decoration: none;
}
@media screen and (min-width:300px) and (max-width:500px){
  body{
    min-height: 110vh;
  }
  .container{
    width: auto;
    min-width: 345px;

  }
  #inner-container{
    width:90%;
  }

  #line-mob{
    display: block;
  }
  #line-desk{
    display: none;
  }
  
}
